/* 1 */
body{
  margin: 0;
  padding: 0;
}
#first{
  background: url(media/block1/bg1.png) no-repeat;
  height: 100vh;
}
.navbar {
  font-family: Arial;
  font-size: 100%;
  background: #fff;
}
#logo{
  position: absolute;
  left: 10%;
  top: 3%;
}
.buttons {
  position: absolute;
  top: 8%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.buttons > ul > li {
  display:inline-block;
}
.buttons > ul > li > a {
  font-family: Arial;
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  color: white;
}
.icons {
  position: absolute;
  top: 4%;
  right: 8%;
}
.icons > ul > li {
  display:inline-block;
  padding: 0.5em 1em;
}
.line {
  position: absolute;
  margin-top: 7%;
  margin-left: 2%;
  width: 96%;
}
.maintext {
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  color: #5181b8;
  padding-top: 5%;
  font-size: 800%;
}
/* 2 */
#second-block{
  height: 100vh;
  width: 100vw;
  background: url(media/block2/bluebg.png);
  display: inline-block;
}
#big-w{
  color: rgb(148, 243, 243);
  text-align: center;
  font-size: 1300%;
  margin-top: 0vh;
}
#we-are{
  position: absolute;
  color: white;
  /* text-align: center; */
  margin-top: -47vh;
  margin-left: 32vw;
  font-size: 350%;
}
#list div{
  display: inline-block;
  text-align: center;
  width: 15vw;
  margin-left: 30vw;

}
#list h3{
  text-align: center;
}


/* footer */
footer{
  margin: 0%;
  padding: 0%;
  background-color: rgb(31, 30, 30);
  text-align: center;

}
footer p{
  display:inline-block;
  height: 15vh;
  color: aliceblue;
}