body{
  margin: 0;
  padding: 0;
}
#first{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(media/block1/bg1.png) no-repeat;
}
.navbar {
  font-family: Arial;
  font-size: 100%;
  background: #fff;
}
#logo{
  position: absolute;
  left: 10%;
  top: 3%;
}
.buttons {
  position: absolute;
  top: 8%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.buttons > ul > li {
  display:inline-block;
}
.buttons > ul > li > a {
  font-family: Arial;
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  color: white;
}
.icons {
  position: absolute;
  top: 4%;
  right: 8%;
}
.icons > ul > li {
  display:inline-block;
  padding: 0.5em 1em;
}
.line {
  margin-top: 7%;
  width: 98%;
}
.maintext {
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  color: #5181b8;
  padding-top: 5%;
  font-size: 800%;
}
#second-block{
  position: absolute;
  height: 100%;
  width: 100%;
}
.block2{
  position: absolute;
  background-color: #11749e;
  height: 90%;
  width: 100%;
  top: 100%;
}
.block2text{
  font-family: Arial;
  text-align: center;
  color: #6EB0CC;
  font-size: 1500%;
  font-weight: bold;
  margin-top: -9%;
}
.block2text2{
  position: absolute;
  left: 34%;
  top: 18%;
  font-family: Arial;
  color: white;
  font-size: 15%;
  letter-spacing: 2px;
}
.picstable{
  position: absolute;
  left: 25%;
  letter-spacing: 155px;
  top: 47%;
}
.texttable1{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 475px;
  bottom: 30%;
  font-size: 120%;
}
.texttable2{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 765px;
  bottom: 30%;
  font-size: 120%;
}
.texttable3{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 1045px;
  bottom: 30%;
  font-size: 120%;
}
.texttable4{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 1345px;
  bottom: 30%;
  font-size: 120%;
}
.textdesc1{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 440px;
  bottom: 20%;
  font-size: 80%;
}
.textdesc2{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 735px;
  bottom: 20%;
  font-size: 80%;
}
.textdesc3{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 1025px;
  bottom: 20%;
  font-size: 80%;
}
.textdesc4{
  position: absolute;
  font-family: Arial;
  color: white;
  left: 1315px;
  bottom: 20%;
  font-size: 80%;
}
#third1-block{
  position: absolute;
  height: 100%;
  width: 100%;
}
.newsblock{
  position: absolute;
  background-color: #222222;
  top: 190%;
  height: 53%;
  width: 100%;
}
.newsblock > im {
  position: absolute;	
  left: 55%;
}
.textnews1{
  position: absolute;	
  color: gray;
  font-family: Arial;
  left: 20%;
  top: 8%;
}	
.textnews2{
  position: absolute;	
  color: white;
  font-family: Arial;
  font-size: 200%;
  left: 20%;
  top: 12%;
}
.textnews3{
  position: absolute;	
  color: white;
  font-family: Arial;
  left: 20%;
  top: 35%;  
}
#third2-block{
  position: absolute;
  height: 100%;
  width: 100%;
}	
.newsblock2{
  position: absolute;
  background-color: #f3f3f3;
  top: 242%;
  height: 53%;
  width: 100%;
}
.newsblock2 > im2 {
  position: absolute;	
  right: 56%;
}
.textnews4{
  position: absolute;	
  color: black;
  font-family: Arial;
  right: 38%;
  top: 8%;
}	
.textnews5{
  position: absolute;	
  color: black;
  font-family: Arial;
  font-size: 200%;
  right: 34%;
  top: 12%;
}
.textnews6{
  position: absolute;	
  color: black;
  font-family: Arial;
  right: 23%;
  top: 33%;  
}